/* Eww default styles, BEGONE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --surface-0: #C8C4AB;
    --surface-1: #EAE7D2;
    --surface-2: #FDFBED;

    --tint-0: #E88E7D;
    --tint-1: #CB6D5D;
    --tint-2: #B55546;
}

body {
    font-family: 'Karla', 'FiraSans', monospace;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 150px auto;
}

body > nav {
    background-color: var(--tint-1);
    color: var(--surface-2);
    font-size: 1.4em;
    font-weight: bold;

    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.anchor {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 150px;
    width: 100%;
    padding: 0 5%;
}

.anchor > svg {
    width: 75px;
    height: 75px;
    stroke: var(--surface-1);
    fill: var(--surface-1);
}

nav ul {
    width: 100%;
}

nav li {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem 10%;
    stroke: var(--surface-1);
    fill: var(--surface-1);
}

nav li:hover {
    background-color: var(--tint-2);
}

nav li:active {
    color: var(--surface-0);
    stroke: var(--surface-0);
    fill: var(--surface-0);
}

nav svg {
    width: 27px;
    height: 27px;
}

header {
    background-color: var(--surface-2);
}

main {
    background-color: var(--surface-1);
}