/* Eww default styles, BEGONE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Josefin';
    src: url('./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('./fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --surface-0: #C8C4AB;
    --surface-1: #EAE7D2;
    --surface-2: #FDFBED;

    --tint-0: #E88E7D;
    --tint-1: #CB6D5D;
    --tint-2: #B55546;

    --dark-0: #777168;
    --dark-1: #635D55;
    --dark-2: #544E47;
}

body {
    font-family: 'Josefin', 'FiraSans', monospace;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 150px auto;
}

body > nav {
    background-color: var(--tint-1);
    color: var(--surface-2);
    font-size: 1.4em;
    font-weight: bold;

    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.anchor {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 150px;
    width: 100%;
    padding: 0 5%;
}

.anchor > svg {
    width: 75px;
    height: 75px;
    stroke: transparent;
    fill: var(--surface-1);
}

nav ul {
    width: 100%;
}

nav li {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem 10%;
    stroke: transparent;
    fill: var(--surface-1);
}

nav li:hover {
    background-color: var(--tint-2);
}

nav li:active {
    color: var(--surface-0);
    fill: var(--surface-0);
}

nav svg {
    width: 27px;
    height: 27px;
}

/* Header */

header {
    background-color: var(--surface-2);
    color: var(--dark-2);
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header > * {
    width: 100%;
}

header svg {
    width: 30px;
    height: 30px;

    fill: var(--dark-1);
}

header svg:hover {
    fill: var(--dark-0);
}

header svg:active {
    fill: var(--dark-2);
}


.flex_apart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.flex_apart > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.pad {
    padding: 0.5rem 4rem;
}

#small_profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#big_profile_pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header form {
    min-width: 450px;
}

header form > input[type="text"] {
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: var(--surface-1);
    padding: 0 2rem;
    color: var(--dark-1);
    font-family: 'Josefin', 'FiraSans', monospace;
    font-size: 1.2rem;

    width: max(400px, 50vw);
}

#big_profile_pic + div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#big_profile_pic + div > p:first-child {
    font-size: 14px;
}

.button_field > button {
    width: 120px;
    height: 35px;
    border-radius: 35px;
    border: none;
    font-family: 'Josefin', 'FiraSans', monospace;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--surface-2);
    background-color: var(--tint-1);
}

.button_field > button:hover {
    background-color: var(--tint-2);
}

.button_field > button:active {
    color: var(--surface-0)
}

/* Main */

main {
    background-color: var(--surface-1);
}